@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*, ::after, ::before
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body
{
    background-color: #fafafa;
}

h1
{
    text-align: center;
    margin: 20px auto 70px;
    font-size: 3.1em;
    text-decoration: underline;
    text-underline-offset: 3px;
}

h2
{
    text-align: center;
    font-size: 2.3em;
}

#scoreboard
{
    background-color: lightgray;
    width: 50%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    border-radius: 10px;
}

#scoreboard span
{
    font-size: 40px;
    animation-name: clignotant;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes clignotant
{
    0%{ 
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}
input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin:0
}

.scoreInput
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    height: 60px;
    width: 60px;
    border: none;
    line-height: 200px;
    background-color: transparent;
    color: #0072e2;
}

section
{
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-around;
    font-size: 1.3em;
}

#playground
{
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 40px auto 50px;
}

img
{
    width: 200px;
    height: 200px;
}

#manette
{
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.key
{
    width: 150px;
    height: 70px;
    font-size: 1.8em;
    background-color: #0072e2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
.key:hover
{
    background-color: blue;
    transition: .5s;
}

#felicitation
{
    margin: 20px auto;
    text-align: center;
    font-size: 2.1em;
}

footer
{
    text-align: center;
    margin: 50px 5px;
}





